:host {
  box-sizing: border-box;
  display: flex;
  overflow-y: hidden;
  scroll-snap-type: x mandatory;
  touch-action: pan-x;
  width: 100vw;
  height: 100%;

  &::before,
  &::after {
    content: "";
    flex: 0 0 auto;
    width: 5vw;
    display: block;
  }
}
