:host {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex: 0 0 auto;
  height: 95%;
  justify-content: space-between;
  margin-top: 3%;
  padding: 2% 5%;
  position: relative;
  scroll-snap-align: center;
  touch-action: pan-x;
  width: 90vw;

  &.show-details {
    justify-content: flex-start;

    header {
      flex: 0 0 0%;
    }

    .hero {
      height: 0;
      overflow: hidden;
      position: relative;

      &__image {
        position: absolute;
      }
    }

    .movie {
      &__name {
        flex: 0 0 auto;
        text-align: left;
        box-sizing: border-box;
        overflow: hidden;
        padding-left: 12px;
        font-size: 1.6em;
      }
    }
  }
}

header {
  align-items: center;
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  transition: all 200ms;
}

.hero {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex: 0 1 auto;
  justify-content: flex-end;
  overflow: hidden;
  position: relative;
  width: 100%;

  &__image {
    // max-height: 100%;
    // max-width: 100%;
    border: 5px solid;
    box-shadow: 0 3px 10px 4px rgba(0, 0, 0, 0.4);
    box-sizing: border-box;
  }
}

.background-image {
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  filter: blur(24px);
  height: 100%;
  left: 0;
  opacity: 0.4;
  pointer-events: none;
  position: absolute;
  top: 0;
  width: 100%;
}

.movie {
  &__name {
    flex: 0 0 auto;
    font-size: 1.9em;
    line-height: 1.2;
    margin: 20px 0 6px;
    text-align: center;
  }

  &__rating {
    border-radius: 6px;
    display: flex;
    flex: 0 0 auto;
    // align-self: center;
    border: 1px solid rgba(white, 0.1);
    overflow: hidden;

    .label {
      font-size: 12px;
      line-height: 1;
      margin: 0;
      opacity: 0.6;
    }

    dt {
      align-items: center;
      background: rgba(white, 0.1);
      display: flex;
      flex-direction: column;
      flex: 0 0 auto;
      font-size: 1.3em;
      justify-content: center;
      margin: 0;
      padding: 6px 0;
      width: 60px;
    }
    dd {
      align-items: center;
      background: rgba(white, 0.05);
      display: flex;
      flex: 1 1 auto;
      font-size: 0.9em;
      letter-spacing: 0.015em;
      margin: 0;
      padding: 6px 12px;
    }
  }

  &__times {
    margin: 12px 0;
    text-align: center;

    ul {
      padding: 0;
      list-style: none;
      display: flex;
      position: relative;
      justify-content: center;
    }

    li {
      padding: 0;
      margin: 0 6px;

      button {
        background: #f1c40f;
        padding: 0.5em;
        font-size: 18px;
        font-weight: bold;
        border-radius: 6px;
        border: none;
        box-shadow: 0 1px 0 3px rgba(black, 0.4);
        transition: all 180ms;

        &:active {
          background: #e67e22;
        }
        &:focus {
          background: #f39c12;
        }
      }
    }
  }
}

.details {
  flex: 1 1 auto;

  &--more {
    align-items: center;
    display: inline-flex;
    flex-direction: column;
    flex: 0 0 auto;
    font-size: 14px;
    justify-content: center;
    line-height: 1;
    opacity: 0.6;

    &::after {
      border-bottom: 1px solid;
      border-radius: 0 0 3px;
      border-right: 1px solid;
      color: white;
      content: "";
      display: block;
      font-size: 12px;
      height: 1em;
      transform: rotate(45deg);
      width: 1em;
    }
  }
}

.synopsis {
  overflow: auto;
}
