<div
  class="background-image"
  [style.background-image]="'url(' + movie?.images?.poster['1']?.medium.film_image + ')'"
></div>
<header>
  <div class="hero" [@collapse]="details ? 'collapsed' : 'expanded'">
    <img
      *ngIf="showImage"
      class="hero__image"
      [src]="movie?.images?.poster['1']?.medium.film_image"
      [alt]="movie?.film_name + ' poster'"
      (error)="showImage = false"
    >
  </div>

  <h2 class="movie__name">{{ movie?.film_name }}</h2>
  <dl class="movie__rating">
    <dt>
      <div class="label">Rated</div>
      <div class="rating">{{ movie?.age_rating[0]?.rating }}</div>
    </dt>
    <dd *ngIf="movie?.age_rating[0]?.age_advisory">{{ movie?.age_rating[0]?.age_advisory }}</dd>
  </dl>
</header>

<div class="movie__times">
  <h3>Times</h3>
  <ul>
    <li *ngFor="let time of times">
      <button>{{ time.start }}</button>
    </li>
  </ul>
</div>

<div
  *ngIf="!details"
  class="details--more"
  (click)="details = !details"
>Times and details</div>

<div class="details" *ngIf="details">

  <h3>Synopsis</h3>
  <div class="synopsis">
    {{ movie?.synopsis_long }}
  </div>

</div>