/* You can add global styles to this file, and also import other style files */
html,
body {
  height: 100%;
}

body {
  background: black;
  color: white;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  margin: 0;
}

::-webkit-scrollbar {
  background: transparent;
  height: 6px;
  width: 6px;

  &-thumb {
    background: rgba(white, 0.8);
    border-radius: 2em 2em 0 0;
  }
}

h1,
h2,
h3,
h4 {
  font-family: "Open Sans Condensed", sans-serif;
  font-weight: 700;
}
